.poke-idx {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
}

.poke-idx li {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  margin: 20px 20px;
}

.poke-idx li p {
  color: white;
  margin-left: 15px;
}

.pokemon-button {
  text-decoration: none;
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  
}

.pokemon-button:hover {
  background-color: #ADD8E6;
}

.poke-idx img {
  width: 50px;
  height: 50px;
}

.pokemon-view {
  margin: 0 auto;
  padding: 10px;
  width: 60%;
  position: fixed;
  left: 30%;
  border: 1px solid white;
  border-radius: 5px;
}

.pokemon-view h1 {
  text-align: center;
}

.pokemon-view ul {
  list-style: none;
}

.index-view {
  display: flex;
  justify-content: space-between;
}

.pokemon-img {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 150px;
}

.pokemon-items {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.poke-item p {
  text-align: center;
}

.item-view ul {
  list-style: none;
}

.poke-item img {
  height: 50px;
}

.poke-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


